SESSION_NAME = AQCT0GmIfcQYcoaE2NK3Ehcs6Pkqqh1JSlPWUurD00GjJrLtUGWix3-sYrpkGvtIXynTHEdnvBZvWWnOaNPvI7-5-N5I2PKlOhZiJJSlyNcYxdDAjGqjO5HtDuusTwAeEeOsPkanfmIvqbBvX1iMR3I4g0LEMkXICIJKuXQSiL8YyMtJ4CNmP_Ic4FxXklrlDuFrX_19hMz_CNrY9yZxaPLQcwgCLnCumihb4XnmgvYfDq6S441Z1lOL5rM751oy27Y7uP5zvObGBZm7A9JMUvUrRffiU8NsAPMj6EjjsLlMiycapRhyaxMSRuH2cnK4obRZKJDSXTWC8tdAYgfCnLUqb2FNkQA
BOT_TOKEN = 1909796545:AAG4bT1HICaFJIG8ZF9Sz4bMv0fKPhpC158
BOT_NAME = MUSIK KU
UPDATES_CHANNEL = musikkuchannel
BG_IMAGE = https://telegra.ph/file/cd0b87484429704c7b935.png
API_ID = 6653033
API_HASH = 738d86aa0239ca917040fb58fde8e0f1
BOT_USERNAME = Musiksayabot
ASSISTANT_NAME = MusikkuAssistant
SUPPORT_GROUP = musikkugroup
PROJECT_NAME = MUSIK KU
OWNER = kenkanasw
DURATION_LIMIT = 300
SUDO_USERS = 1641726479
KENKAN = https://telegra.ph/file/295332305ae7d35abf077.png
